.Login {
    height:100%;
}

.LoginForm {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sign-in-button {
    width: 100%;
    /* background: linear-gradient(to right, #d8363a, #ddb336, #c2d836, #49b445); */
}