.location-icon {
    width: 25px;
}

.current-location-finder-icon {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.location-finder-go-button {
  width: 80px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}