@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

html, 
body,
#root,

.App {
  font-family: 'Oxygen:wght@400;700', sans-serif;
  height: 100%;
  background-color: white;
}

.button-link {
  cursor: pointer;
}