

.refresh{
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
}

.title{
    font-size: 1.5rem !important;
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
}

.favorite{
    font-size: 1.1rem !important;
}

.aqi-header{
    font-size: 3.5rem;
}